/* GENERALES */
body{
  background: #282c34;
  overflow-x: hidden;
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'Hammersmith One', sans-serif;
}

p{
  margin:0;
 

}
.nav-element{
  color: #fd9152;
}
.nav-logout{
  color: #fd9152;
  position: absolute;
  top: 20px;
  left: 20px;
  
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    min-height: 100vh;
    padding: 15px;
    
}
.title{
  font-weight: bold;
    font-size: 35px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
   

}
.-logo{
  position: fixed;
  top: 100px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #ffffff;

  
}
.title:before{
  content: '';
  width: 80px;
  height: 2px;
  background: #fdd752;
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.column-evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.column-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.row-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.row-start{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}


.rows-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.rows-center > div {
  flex: 0 0 30%;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid red;
}
/* HOME-INTRO */
.home-intro{
  width: 100%;
    height: 100vh;
    background: url(/img/p4.jpg);
    background-size: cover;
    background-position: -50px center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    padding-bottom: 40px;
}
/* ---- */
.App {
  text-align: center;
  background: blue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logout{
  position: absolute;
  top: 10px;
  
}
.map{
  height: 25rem;
  width: 80vw;
  position: relative;
  margin-bottom: 200px;
}

/* LOGIN */
.logo{
  
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin: 0 auto;
  padding:10px;
  margin-bottom: 40px;
}
/* SIGNUP */

.signup{
  margin-top: 30px;
}

/* FORMULARIOS */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0;
  margin-bottom: 15px;
}
.form-control.-file{
  background: #ffffff85;
}
.form-control:focus {
  color: white;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid white;
}
form{
  width: 100%;
}
.btn {
  color: #282c34;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    margin: 20px;
    border-color: transparent;
    padding: 8px 12px;
    border-radius: 10px;
}
.btn.-destacado{
  background: #fdd852;
  color: #1f1d20;
  width: 240px;
  padding: 7px;
  font-size: 18px;
  border-radius: 10px;
}
.btn:hover,
.btn:focus,
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
  color: #fff;
  background-color: #0069d9;
  border-color: transparent;
  color: #282c34;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
}
 input[name="participants"]{
  background: url(/img/user.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
 input[name="username"]{
  background: url(/img/user.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
input[name="email"]{
  background: url(/img/email.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
input[name="password"]{
  background: url(/img/password.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
select[name="location"]{
  background: url(/img/ubicacion.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
input[name="hour"]{
  background: url(/img/reloj.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
input[name="tlf"]{
  background: url(/img/telefono.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
input[name="data"]{
  background: url(/img/calendario.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
select[name="center"]{
  background: url(/img/campo.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
input[name="comments"]{
  background: url(/img/comentario.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    padding-left: 40px;
}
.form-control.-fecha,
.form-control.-hora{
  width:45%
}
.form-group.-middle{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
/* HOME */
.container.-home{
  padding: 0;
  position: fixed;
}
.mapa{
  width: 100%;
}
.map {
  /* height: 25rem; */
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 200px;
}

/* PROFILE */
.image-profile{
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
  
}
.image-profile img{
  max-height: 100%;
  width: auto;
}
.description-profile p{
  margin:20px 0;
}
.edit{
  width: 25px;
  height: 25px;
  background: url(/img/edit.png);
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* EVENT-CARD */
.event-card{
  margin: 15px 0;
  border-bottom: 1px solid #fdd852;
  padding: 10px 0;
  color: white;
  background: url('/img/next.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
}
.img-event{
  max-width: 95px;
    height: 115px;
    background: url('/img/img-prueba2.jpg');
    width: 100%;
    background-size:cover;
   
}
.img-event.-full{
  max-width:100%;
}
.participant{
  position: relative;
  padding-right: 5px;
}
.participant:before{
  content: '';
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    background: url('/img/user.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: -20px;
}
.location{
  position: relative;
    margin-bottom: 5px;
    color: #fdd852;
}

.center,
.data{
  font-size: 15px;
}
.description-event{
  text-align: left;
  width: 165px;
  margin: 0 20px
}
/* EVENT-CARD-DETAIL */
.event-image-detail{
  width: 100%;
  max-height: 195px;
}
.description-profile .title{
  font-size: 18px;
  text-align: left;
  color: #fdd852;
  font-weight: lighter;
}
.description-profile .title:before{
display: none;
}
.description-profile p,
.description-profile .userName{
  text-align:left;
  margin-bottom:10px;
}
.description-profile .userName{
 
}
/* MAPA */

.desc-map{
  color:black;
  font-size: 10px;
 
}
.verDetalle{
  color: #6dbb34;
  font-weight: bold;
  padding: 7px;
  font-size: 11px;
  text-decoration: underline;
  margin: 0
}