.navBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background: white;
    height: 60px;
    display: flex;
    color: #282c34;
    height: 45px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 2;
    padding: 30px 10px;
}
a{
    color: #282c34;
}
.addEvent{
    max-height:32px;
    height:32px;
}